header .container {
  display: flex;
  align-items: center;
  justify-content: center;

  & img[src*="logo"] {
    width: 6.214rem;
  }
}

@media (width >= 90em) {
  header .container {
    & img[src*="logo"] {
      width: 7.25rem;
    }
  }
}
